.circle{
    border-radius: 100%;
    background: rgba(12, 181, 106, 0.9);
    height: 70px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid rgba(255, 255, 255, 0.8);
    cursor: pointer;
    color: #fff;

}

.rect{
    background: rgba(12, 181, 106, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.8);
    cursor: pointer;
    color: #fff;
    position: relative;
}

.arrow{
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 7px solid rgba(12, 181, 106, 0.9);
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    left: 50%;
    right: 50%;

    
}